In [6]:
import pandas as pd

In [7]:
titulos = pd.read_csv('/home/andre/Data Science/DataSets/titulos_cap_18-07-2019.csv')

In [8]:
titulos['Valor'] = titulos['Valor'].str.replace(',', '.').astype('float')

In [9]:
titulos_novo = titulos[['CPF Revendedora','Cod. CS','Valor']]

In [10]:
titulos_novo.loc[0:5]

   CPF Revendedora  Cod. CS    Valor
0      38515975831    13819  2731.39
1      38515975831    13819  -138.75
2      38515975831    13819   508.84
3      38515975831    13819   -25.85
4      38515975831    13819   761.46
5      38515975831    13819   -38.68

In [96]:
titulos_novo.head(3)

   CPF Revendedora  Cod. CS    Valor
0      38515975831    13819  2731.39
1      38515975831    13819  -138.75
2      38515975831    13819   508.84